body {
  display: flex;
  justify-content: center;
}

.content {
  border: 1px solid black;
  width: 80vw;
  height: 80vh;
}

.section {
  padding: 20px;
  border: 1px solid rgb(238, 231, 231);
}

.section:nth-child(2n+1) {
  background-color: #00000050;
}

[data-simplebar] {
  position: relative;
}

.simplebar-mask {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.simplebar-offset {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.simplebar-content-wrapper {
  height: 100%;
  overflow: auto;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible::before {
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-scrollbar::before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 7px;
  min-height: 10px;
}